<label>login</label>
<input type="text" [formControl]="login">
<label>pwd</label>
<input type="text">
<input type="submit" (click)="showFormControl()" [disabled]="checkForm()">
<hr>
<h1>form group</h1>
<form [formGroup]="formLogin">
    <label>login</label>
    <input type="text" formControlName="loginfg">
    <div *ngIf="formLogin.get('loginfg')?.invalid">
number
    </div>
    <label>pwd</label>
    <input type="text" formControlName="pwdfg">
    <div *ngIf="formLogin.get('pwdfg')?.invalid 
    && formLogin.get('pwdfg')?.touched ">
        <div *ngIf="formLogin.get('pwdfg')?.errors?.['minlength']">
            minlength
        </div>
        <div *ngIf="formLogin.get('pwdfg')?.errors?.['required']">
            required
        </div>
        
            </div>
    <input type="submit" value="add product" [disabled]="formLogin.invalid">
</form>